.banner {
  /* height: 350px; */
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  /* text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px; */

      /* text-align: center; */
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: #00d8ff;
}
nav .container {
    margin: 0px;
}
/* .swiper-slide.swiper-slide-next{
  width: 100% !important;
} */
 .mobile-banner, 
 .desktop-banner{
  width: 100%;
 }
 .container-fluid.nav-container.container {
    max-width: 100%;
    padding: 0px 10px;
}

